<% layout('layouts/boilerplate') %> <!-- This is an improvement on setting up our EJS templates, it allows us to create one 'boilerplate' template which we can use with all other templates -->

<div class="indexPage">
    <h1 class="mb-4 primary-heading">Books</h2>
    
    <% for (let book of books) { %>
        <div class="card card-height mb-3">
            <div class="row">
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                 <div class="index-image" style="background-image: url('<%= book.images[0] ? book.images[0].url : book.coverImg %>')"></div>
                </div>
                <div class="col-lg-8 d-flex align-items-center"">
                    <div class="card-body">
                        <div class="card-heading">
                            <h5 class="card-title mb-3 pe-5 tertiary-heading"><%= book.title %></h5>
                            
                        </div>
                        <p class="card-text mb-0"><%= book.description.length > 300 ? book.description.slice(0, 300) + '...' : book.description %></p>
                        <p class="mt-2 mb-0"><small class="text-muted"><%= book.genres.slice(0, 8).join(' - ') %></small></p>          
                        <a class="btn custom-button mt-3 mb-1" href="/books/<%= book._id %>"><%= book.title %></a>
                        <p class="d-flex justify-content-end pb-2"><small class="text-muted"><%= book.location %></small></p>
                    </div>
                </div>
                <a class="custom-fav-icon custom-fav-button" title="favorite" aria-label="favorite">
                    <input type="hidden" value="<%= book._id %>">
                </a>
            </div>
        <span class="custom-rating">&#9733; <%= book.ratingInfo.rating %> </span>  
        </div>
    <% } %> 
    <%- include('../partials/pagination.ejs', pageInfo); %> 
</div>

<div class="back-to-top">
    <a class="link" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </a>
</div>

<script>
    const favArray = "<%= currentUser ? currentUser.profile.favorites : 'no user' %>".split(',');
</script>

<script src="/javascripts/favoriteButton.js"></script>