<% layout('layouts/boilerplate') %>
<!-- We should probably put this link tag in the head of the boilerplate, but this will work ok -->
<link rel="stylesheet" href="/stylesheets/stars.css">

<!-- Note that the default card from bootstrap sets a fixed width, whereas we are using a grid system -->
<div class="row mb-4 d-flex justify-content-center">
    <div class="col-lg-5 me-4">
        <!-- Below we insert our mapbox map -->
        <div id="bookCarousel" class="carousel carousel-dark slide" data-ride="carousel" data-interval="false">
            <% if (book.images.length) { %> 
            <div class="carousel-inner pb-3">
                <% book.images.forEach((image, index) => { %> 
                <div class="carousel-item <%= index === 0 ? "active" : "" %>">
                    <div style="background-image: url('<%= image.url %>');" class="index-image" alt=""></div>
                </div>
                <% }); %> 
            </div>
            <% if (book.images.length > 1) { %>
                <a class="carousel-control-prev" href="#bookCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#bookCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </a>
            <% } %>
            <% } else { %> 
                <div class="carousel-inner pb-3">
                    <div class="carousel-item active">
                        <div style="background-image: url('<%= book.coverImg %>');" class="index-image" alt=""></div>
                    </div>
                </div>
            <% } %> 
        </div>

        <div class="card mb-3">
            <div class="card-body">
              <a class="custom-fav-icon custom-fav-button" title="favorite">
                  <input type="hidden" value="<%= book._id %>">
              </a>
              <h5 class="card-title tertiary-heading mb-3 mt-1"><%= book.title %></h5>
              <p class="card-text"><%= book.description %></p>
              <p class="card-text text-muted mb-0">Author: <%= book.author %></p>
              <p class="card-text text-muted mb-0">Pages: <%= book.pages %></p>
              <p class="card-text text-muted mb-0" style="text-align: right;">&#9733; <%= book.ratingInfo.rating %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><strong>Location:</strong> <%= book.location %></li>
            </ul>
            <div class="card-footer d-flex justify-content-between align-items-center text-muted">
                <span>Offerred by:</span>
                <span>
                    <a href="/profile/<%= book.owner._id %>" style="text-decoration: none;">
                        <%= book.owner.username %>
                        <% if (book.owner.profile.images.length) { %> 
                        <img src="<%= book.owner.profile.images.length > 0 ? book.owner.profile.images[0].url : '' %>" alt="book owner selfie" width="32" height="32" class="rounded-circle ms-2">
                        <% } %> 
                    </a>
                </span>
            </div>
            <!--Below we use the .equals method to compare the book author with the current user-->
            <% if (currentUser && book.owner.equals(currentUser._id)) { %>
                <div class="card-body d-flex justify-content-between">
                    <a class="card-link btn p-0" href="/books/<%= book._id %>/edit" aria-label="edit" title="edit">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="custom-edit-button"
                            width="24" height="24" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#1a4aa0"><path d="M130.88125,17.2c-2.93403,0 -5.86843,1.12051 -8.10729,3.35938l-13.84062,13.84063l28.66667,28.66667l13.84062,-13.84063c4.47773,-4.47773 4.47773,-11.73685 0,-16.21458l-12.45208,-12.45208c-2.23887,-2.23887 -5.17326,-3.35937 -8.10729,-3.35937zM97.46667,45.86667l-67.31068,67.31067c0,0 5.26186,-0.47147 7.22266,1.48933c1.9608,1.9608 0.34669,14.792 2.75469,17.2c2.408,2.408 15.15831,0.71299 16.98724,2.54192c1.82894,1.82893 1.70209,7.43542 1.70209,7.43542l67.31067,-67.31067zM22.93333,131.86667l-5.40859,15.31875c-0.21262,0.60453 -0.32239,1.24042 -0.32474,1.88125c0,3.16643 2.5669,5.73333 5.73333,5.73333c0.64083,-0.00235 1.27672,-0.11212 1.88125,-0.32474c0.0187,-0.00737 0.03737,-0.01483 0.05599,-0.02239l0.14557,-0.04479c0.01122,-0.00743 0.02242,-0.01489 0.03359,-0.0224l15.08359,-5.31901l-8.6,-8.6z"></path></g></g>
                        </svg>
                    </a>
                    <form class="d-inline" action="/books/<%= book._id %>?_method=DELETE" method="POST">
                        <a class="btn p-0" title="delete" data-toggle="modal" data-target="#deleteModal">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" class="custom-edit-button
                            y="0px" width="24" height="24" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#f50009"><path d="M72.24,6.88c-5.65719,0 -10.32,4.66281 -10.32,10.32v6.88h-34.4c-1.23625,-0.01344 -2.39187,0.63156 -3.02344,1.70656c-0.61813,1.075 -0.61813,2.39187 0,3.46687c0.63156,1.075 1.78719,1.72 3.02344,1.70656h3.44v123.84c0,5.68406 4.63594,10.32 10.32,10.32h89.44c5.68406,0 10.32,-4.63594 10.32,-10.32v-123.84h3.44c1.23625,0.01344 2.39188,-0.63156 3.02344,-1.70656c0.61813,-1.075 0.61813,-2.39187 0,-3.46687c-0.63156,-1.075 -1.78719,-1.72 -3.02344,-1.70656h-34.4v-6.88c0,-5.65719 -4.66281,-10.32 -10.32,-10.32zM72.24,13.76h27.52c1.90813,0 3.44,1.53188 3.44,3.44v6.88h-34.4v-6.88c0,-1.90812 1.53188,-3.44 3.44,-3.44zM61.92,68.8c0.87344,0 1.76031,0.33594 2.43219,1.00781l21.64781,21.64781l21.64781,-21.64781c1.34375,-1.34375 3.52062,-1.34375 4.86437,0c1.34375,1.34375 1.34375,3.52062 0,4.86437l-21.64781,21.64781l21.64781,21.64781c1.34375,1.34375 1.34375,3.52062 0,4.86437c-0.67187,0.67188 -1.54531,1.00781 -2.43219,1.00781c-0.88687,0 -1.76031,-0.33594 -2.43219,-1.00781l-21.64781,-21.64781l-21.64781,21.64781c-0.67187,0.67188 -1.54531,1.00781 -2.43219,1.00781c-0.88687,0 -1.76031,-0.33594 -2.43219,-1.00781c-1.34375,-1.34375 -1.34375,-3.52062 0,-4.86437l21.64781,-21.64781l-21.64781,-21.64781c-1.34375,-1.34375 -1.34375,-3.52062 0,-4.86437c0.67187,-0.67188 1.55875,-1.00781 2.43219,-1.00781z"></path></g></g>
                        </svg>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirm</h5>
                            <button type="button" class="custom-delete-button close" data-dismiss="modal" aria-label="Close" style="border: none; background-color: transparent; font-size: 2rem;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            Are you sure you want to delete this book?
                            </div>
                            <div class="modal-footer d-flex justify-content-between">
                                <button type="submit" class="btn" title="delete">                            
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28"
                                    viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#008a22"><path d="M86,21.5c-35.55872,0 -64.5,28.9413 -64.5,64.5c0,35.55869 28.94128,64.5 64.5,64.5c35.55872,0 64.5,-28.94131 64.5,-64.5c0,-35.5587 -28.94128,-64.5 -64.5,-64.5zM86,32.25c29.749,0 53.75,24.00103 53.75,53.75c0,29.74897 -24.001,53.75 -53.75,53.75c-29.749,0 -53.75,-24.00103 -53.75,-53.75c0,-29.74897 24.001,-53.75 53.75,-53.75zM112.60205,64.5l-33.59375,33.59375l-17.46875,-17.46875l-7.5166,7.5271l24.98535,24.99585l41.12085,-41.12085z"></path></g></g></svg>
                                </button>
                                <button type="button" class="btn" data-dismiss="modal" title="cancel">                   
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" 
                                        viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#f50009"><path d="M86,14.33333c-39.63167,0 -71.66667,32.035 -71.66667,71.66667c0,39.63167 32.035,71.66667 71.66667,71.66667c39.63167,0 71.66667,-32.035 71.66667,-71.66667c0,-39.63167 -32.035,-71.66667 -71.66667,-71.66667zM119.7335,109.59983c2.80217,2.80217 2.80217,7.3315 0,10.13367c-1.3975,1.3975 -3.23217,2.09983 -5.06683,2.09983c-1.83467,0 -3.66933,-0.70233 -5.06683,-2.09983l-23.59983,-23.59983l-23.59983,23.59983c-1.3975,1.3975 -3.23217,2.09983 -5.06683,2.09983c-1.83467,0 -3.66933,-0.70233 -5.06683,-2.09983c-2.80217,-2.80217 -2.80217,-7.3315 0,-10.13367l23.59983,-23.59983l-23.59983,-23.59983c-2.80217,-2.80217 -2.80217,-7.3315 0,-10.13367c2.80217,-2.80217 7.3315,-2.80217 10.13367,0l23.59983,23.59983l23.59983,-23.59983c2.80217,-2.80217 7.3315,-2.80217 10.13367,0c2.80217,2.80217 2.80217,7.3315 0,10.13367l-23.59983,23.59983z"></path></g></g></svg>
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
                </div>
            <% } %>
        </div>
    </div>
    <div class="col-lg-5">
        <div id='map' class="map-show mb-3"></div>
        <hr>
        <% if (book.reviews !== []) { %> 
        <h2 class="mb-3 text-center secondary-heading">Leave a Review</h2>
            <form action="/books/<%= book._id %>/reviews" method="POST" class="mb-4 needs-validation" novalidate>
                <fieldset class="starability-basic m-auto custom-starability" id="rating">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div class="mb-3">
                    <label class="form-label text-muted" for="body">Comments:</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="7" required><%= review ? review.body : '' %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn custom custom-button w-100">Submit</button>
            </form>        
        <% } %>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <% for (let review of book.reviews) { %> 
            <div class="card mb-3">
                <div class="card-body">
                    <header class="d-flex justify-content-between align-items-center mb-2">
                        <span class="d-flex align-items-center">
                            <a href="/profile/<%= review.author._id %> ">
                                <img src="<%= review.author.profile.images.length ? review.author.profile.images[0].url : ''%> " alt="review author selfie" width="32" height="32" class="rounded-circle">
                            </a>
                            <h5 class="card-title quaternary-heading text-muted mb-0 ms-2"><%= review.author.profile.name %></h5>
                        </span>
                        <p class="starability-result custom-starability--comment mb-1" data-rating="<%= review.rating %>">
                            Rated: <%= review.rating %> stars
                        </p>
                    </header>
                    <p class="card-text"><%= review.body %></p>
                </div>
                <% if (currentUser && review.author.equals(currentUser._id)) { %>
                    <div class="card-body pt-0 d-flex justify-content-end">
                        <!-- <a class="card-link btn btn-sm btn-dark" href="#">Edit</a> -->
                        <form class="d-inline" action="/books/<%= book._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <a class="btn p-0" data-toggle="modal" data-target="#deleteReviewModal">                 
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" class="custom-delete-button
                                    y="0px" width="24" height="24" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#f50009"><path d="M72.24,6.88c-5.65719,0 -10.32,4.66281 -10.32,10.32v6.88h-34.4c-1.23625,-0.01344 -2.39187,0.63156 -3.02344,1.70656c-0.61813,1.075 -0.61813,2.39187 0,3.46687c0.63156,1.075 1.78719,1.72 3.02344,1.70656h3.44v123.84c0,5.68406 4.63594,10.32 10.32,10.32h89.44c5.68406,0 10.32,-4.63594 10.32,-10.32v-123.84h3.44c1.23625,0.01344 2.39188,-0.63156 3.02344,-1.70656c0.61813,-1.075 0.61813,-2.39187 0,-3.46687c-0.63156,-1.075 -1.78719,-1.72 -3.02344,-1.70656h-34.4v-6.88c0,-5.65719 -4.66281,-10.32 -10.32,-10.32zM72.24,13.76h27.52c1.90813,0 3.44,1.53188 3.44,3.44v6.88h-34.4v-6.88c0,-1.90812 1.53188,-3.44 3.44,-3.44zM61.92,68.8c0.87344,0 1.76031,0.33594 2.43219,1.00781l21.64781,21.64781l21.64781,-21.64781c1.34375,-1.34375 3.52062,-1.34375 4.86437,0c1.34375,1.34375 1.34375,3.52062 0,4.86437l-21.64781,21.64781l21.64781,21.64781c1.34375,1.34375 1.34375,3.52062 0,4.86437c-0.67187,0.67188 -1.54531,1.00781 -2.43219,1.00781c-0.88687,0 -1.76031,-0.33594 -2.43219,-1.00781l-21.64781,-21.64781l-21.64781,21.64781c-0.67187,0.67188 -1.54531,1.00781 -2.43219,1.00781c-0.88687,0 -1.76031,-0.33594 -2.43219,-1.00781c-1.34375,-1.34375 -1.34375,-3.52062 0,-4.86437l21.64781,-21.64781l-21.64781,-21.64781c-1.34375,-1.34375 -1.34375,-3.52062 0,-4.86437c0.67187,-0.67188 1.55875,-1.00781 2.43219,-1.00781z"></path></g></g>
                                </svg>
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Confirm</h5>
                                    <button type="button" class="custom-delete-button close" data-dismiss="modal" aria-label="Close" style="border: none; background-color: transparent; font-size: 2rem;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    Are you sure you want to delete this review?
                                    </div>
                                    <div class="modal-footer d-flex justify-content-between">
                                        <button type="submit" class="btn" title="delete">                            
                                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28"
                                                viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#008a22"><path d="M86,21.5c-35.55872,0 -64.5,28.9413 -64.5,64.5c0,35.55869 28.94128,64.5 64.5,64.5c35.55872,0 64.5,-28.94131 64.5,-64.5c0,-35.5587 -28.94128,-64.5 -64.5,-64.5zM86,32.25c29.749,0 53.75,24.00103 53.75,53.75c0,29.74897 -24.001,53.75 -53.75,53.75c-29.749,0 -53.75,-24.00103 -53.75,-53.75c0,-29.74897 24.001,-53.75 53.75,-53.75zM112.60205,64.5l-33.59375,33.59375l-17.46875,-17.46875l-7.5166,7.5271l24.98535,24.99585l41.12085,-41.12085z"></path></g></g></svg>
                                        </button>
                                        <button type="button" class="btn" data-dismiss="modal" title="cancel">                   
                                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" 
                                                viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#f50009"><path d="M86,14.33333c-39.63167,0 -71.66667,32.035 -71.66667,71.66667c0,39.63167 32.035,71.66667 71.66667,71.66667c39.63167,0 71.66667,-32.035 71.66667,-71.66667c0,-39.63167 -32.035,-71.66667 -71.66667,-71.66667zM119.7335,109.59983c2.80217,2.80217 2.80217,7.3315 0,10.13367c-1.3975,1.3975 -3.23217,2.09983 -5.06683,2.09983c-1.83467,0 -3.66933,-0.70233 -5.06683,-2.09983l-23.59983,-23.59983l-23.59983,23.59983c-1.3975,1.3975 -3.23217,2.09983 -5.06683,2.09983c-1.83467,0 -3.66933,-0.70233 -5.06683,-2.09983c-2.80217,-2.80217 -2.80217,-7.3315 0,-10.13367l23.59983,-23.59983l-23.59983,-23.59983c-2.80217,-2.80217 -2.80217,-7.3315 0,-10.13367c2.80217,-2.80217 7.3315,-2.80217 10.13367,0l23.59983,23.59983l23.59983,-23.59983c2.80217,-2.80217 7.3315,-2.80217 10.13367,0c2.80217,2.80217 2.80217,7.3315 0,10.13367l-23.59983,23.59983z"></path></g></g></svg>
                                        </button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>
                <% } %> 
            </div>
        <% } %> 
    </div>
</div>



<!-- We need to use the script below so we can access the mapToken in the showPageMap.js file -->
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const book = <%- JSON.stringify(book) %>;
    const favArray = "<%= currentUser ? currentUser.profile.favorites : 'no user' %>".split(',');
</script>
<!-- Note, the book declaration in the script above was causing issues so I had to add the following to the JSON.settings file: "html.validate.scripts": false -->

<script src="/javascripts/showPageMap.js"></script>

<script src="/javascripts/favoriteButton.js"></script>