<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="card shadow mt-1 mb-1">
    <h1 class="text-center mt-2 secondary-heading mb-5">Edit Profile</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/profile/<%= user._id %>/edit?_method=PUT" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="mb-4">
                    <input class="form-control form-control__input" type="text" id="name" name="profile[name]" value="<%= user.profile.name %>" placeholder="Name" required>
                    <label class="form-control__label" for="name">Name</label>
                </div>

                <div class="mb-4">
                    <input class="form-control form-control__input" type="text" id="location" name="profile[location]" value="<%= user.profile.location %>" placeholder="Location" required>
                    <label class="form-control__label" for="location">Location</label>
                </div>
                   
                <div class="mb-3">
                    <textarea class="form-control form-control__input" type="text" id="bio" name="profile[bio]" placeholder="Bio" required><%= user.profile.bio %></textarea>
                    <label class="form-control__label" for="bio">Bio</label>
                </div>
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Add profile image...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <% if (user.profile.images) { %> 
                    <% user.profile.images.forEach((image, index) => { %> 
                        <img src="<%= image.thumbnail %> " class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= index %>" name="deleteImages[]" value="<%= image.filename %>">
                        </div>
                        <label for="image-<%= index %>">Delete</label>
                    <% }) %> 
                    <% } %> 
                </div>       
                <hr> 
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mb-3">
                        <button class="btn custom-util-button" title="update">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28"
                                viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#008a22"><path d="M86,21.5c-35.55872,0 -64.5,28.9413 -64.5,64.5c0,35.55869 28.94128,64.5 64.5,64.5c35.55872,0 64.5,-28.94131 64.5,-64.5c0,-35.5587 -28.94128,-64.5 -64.5,-64.5zM86,32.25c29.749,0 53.75,24.00103 53.75,53.75c0,29.74897 -24.001,53.75 -53.75,53.75c-29.749,0 -53.75,-24.00103 -53.75,-53.75c0,-29.74897 24.001,-53.75 53.75,-53.75zM112.60205,64.5l-33.59375,33.59375l-17.46875,-17.46875l-7.5166,7.5271l24.98535,24.99585l41.12085,-41.12085z"></path></g></g></svg>
                        </button>
                    </div>
                    <a class="btn mb-3 custom-util-button" href="/profile/<%= user._id %>" title="cancel">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" 
                            viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#f50009"><path d="M86,14.33333c-39.63167,0 -71.66667,32.035 -71.66667,71.66667c0,39.63167 32.035,71.66667 71.66667,71.66667c39.63167,0 71.66667,-32.035 71.66667,-71.66667c0,-39.63167 -32.035,-71.66667 -71.66667,-71.66667zM119.7335,109.59983c2.80217,2.80217 2.80217,7.3315 0,10.13367c-1.3975,1.3975 -3.23217,2.09983 -5.06683,2.09983c-1.83467,0 -3.66933,-0.70233 -5.06683,-2.09983l-23.59983,-23.59983l-23.59983,23.59983c-1.3975,1.3975 -3.23217,2.09983 -5.06683,2.09983c-1.83467,0 -3.66933,-0.70233 -5.06683,-2.09983c-2.80217,-2.80217 -2.80217,-7.3315 0,-10.13367l23.59983,-23.59983l-23.59983,-23.59983c-2.80217,-2.80217 -2.80217,-7.3315 0,-10.13367c2.80217,-2.80217 7.3315,-2.80217 10.13367,0l23.59983,23.59983l23.59983,-23.59983c2.80217,-2.80217 7.3315,-2.80217 10.13367,0c2.80217,2.80217 2.80217,7.3315 0,10.13367l-23.59983,23.59983z"></path></g></g></svg>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>