<% layout('layouts/boilerplate') %>

<div class="row pt-2 pb-5 px-4">
    <div class="col-lg-8 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <% if (currentUser && String(user._id) === String(currentUser._id)) { %> 
                <div class="d-flex justify-content-between m-3">
                    <button type="button" class="btn custom-button" data-toggle="modal" data-target="#inboxModal">Inbox</button>
                    <a href="/profile/<%= user._id %>/edit" class="btn custom-button">Edit profile</a>
                </div>
                <% } %> 
                <div class="media align-items-end profile-head d-flex justify-content-center">
                    <div class="profile">
                        <% if (user.profile.images.length) { %> 
                        <img src="<%= user.profile.images[0].url %> " alt="user selfie" width="130" class="rounded mb-2 img-thumbnail">
                        <% } else { %> 
                            <%- include('../partials/svg/unknown-avatar') %>
                        <% } %> 
                    </div>
                    <div class="media-body mb-5 ms-2">
                        <h4 class="mt-0 mb-0 tertiary-heading"><%= user.profile.name ? user.profile.name : 'Name not set.' %></h4>
                        <p class="small mb-4 subheading"><%= user.profile.location ? user.profile.location : 'Location not set.' %></p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0 w-100 d-flex justify-content-between ps-5">
                    <span>
                        <br>
                        <li class="list-inline-item mt-1">
                            <h5 class="font-weight-bold mb-0 d-block" id="username">@<%= user.username ? user.username : '' %></h5>
                        </li>
                    </span>
                    <span class="mt-1">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%= booksOffered ? booksOffered : 0 %> </h5><small class="text-muted">Offered</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted">Borrowed</small>
                        </li>
                    </span>
                </ul>
            </div>
            <% if (currentUser && String(user._id) !== String(currentUser._id)) { %>
                <div class="d-flex justify-content-end m-3"><button type="button" class="btn custom-button" data-toggle="modal" data-target="#sendMessageModal">Send message</button></div>
            <% } %> 

            <div class="px-4 py-3">
                <h5 class="mb-0 tertiary-heading">About</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0"><%= user.profile.bio || "Write your bio here..."%></p>
                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0 tertiary-heading">Recent favorites</h5>
                </div>
                <div  class="d-flex mb-2 flex-wrap justify-content-center">
                    <% if (user.profile.favorites.length) { %> 
                        <% for (let favorite of user.profile.favorites) { %> 
                            <a href="/books/<%= favorite._id %>" class="mb-3 me-3"><img src="<%= favorite.coverImg %> " alt="" class="img-fluid rounded shadow-sm" style="height: 200px; width: auto;"></a>
                        <% } %> 
                    <% } else { %> 
                        <div class="d-flex justify-content-between align-items-center py-4 my-4"><a class="quaternary-heading" href="/books">Browse books</a></div>
                    <% } %> 
                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0 tertiary-heading">Recently offered</h5>
                </div>
                <div  class="d-flex mb-2 flex-wrap justify-content-center">
                    <% if (books.length) { %> 
                        <% for (let book of books) { %> 
                            <a href="/books/<%= book._id %>" class="mb-3 me-3"><img src="<%= book.coverImg %> " alt="" class="img-fluid rounded shadow-sm" style="height:200px; width: auto;"></a>
                        <% } %> 
                    <% } else { %> 
                        <div class="d-flex justify-content-between align-items-center py-4 my-4"><a class="quaternary-heading" href="/books/new">Offer books</a></div>
                    <% } %> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sendMessageModalLabel">New message to <%= user.username  %></h5>
          <button type="button" class="close custom-close-button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/message/<%= user._id %>" method="POST">
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                    <input type="text" class="form-control" id="recipient-name" value="<%= user.username %>" disabled>
                    <input type="hidden" name="message[username]" value="<%= user.username %>">
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="message-text" name="message[content]"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send message</button>
            </div>
        </form>
      </div>
    </div>
  </div>

<!-- Inbox -->
<div class="modal d-flex flex-column align-items-stretch flex-shrink-0 bg-white hide" style="width: 380px;" id="inboxModal" tabindex="-1" role="inbox" aria-labelledby="inboxModalLabel" aria-hidden="true" data-backdrop="static">
    <button type="button" class="close custom-close-button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="text-center mt-2">
        <h5 class="modal-title secondary-heading" id="sendMessageModalLabel">Inbox</h5>
    </div>
    <hr class="mb-0">
    <div class="list-group list-group-flush border-bottom scrollarea" id="inboxMessages">
    <% if (user.profile.inbox.length) { %>  
    <% for (let chatPartner of user.profile.inbox) { %> 
        <% const newestMsg = chatPartner.messages.length - 1 %>     
        <a class="btn list-group-item list-group-item-action py-3 lh-tight pointer" aria-current="true" 
        id="<%= chatPartner._id %>">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1" id="<%= chatPartner.partnerUsername %>"><%=chatPartner.partnerUsername%><% if (chatPartner.isUnreadMsg) { %><span class="badge badge-secondary custom-badge ms-2">New</span><% } %></strong>
                <small id="<%= chatPartner._id %>-date">
                    <%= 
                        `${chatPartner.messages[newestMsg].timestamp.toISOString().slice(0, 10).replace('T', ' ')}`
                    %>
                </small>
            </div>
            <div class="col-10 mb-1 small mt-2">
                <strong class="mb-1" id="<%= chatPartner.partnerUsername %>-username"><%= chatPartner.messages[newestMsg].username %>:</strong>
                <span id="<%= chatPartner.partnerUsername %>-message">
                    <%= chatPartner.messages[newestMsg].message.length > 51 ? `${chatPartner.messages[newestMsg].message.slice(0, 50)} ...` : chatPartner.messages[newestMsg].message %>
                </span>
            </div>
        </a>
    <% } %> 
    <% } else { %> 
    <p class="m-0 p-4">No messages - go to a user's profile and send them a message to start a conversation</p>
    <% } %> 
    </div>
</div>

<!-- Messages Modal -->
<button type="button" class="btn custom-button" data-toggle="modal" data-target="#messagesModal" style="display: none;" id="messageModalButton">messages</button>

<div class="modal fade" id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="messagesLabel" aria-hidden="true" style="z-index: 10001;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title secondary-heading">Chat</h5>
          <button type="button" class="close custom-close-button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            <div class="modal-body">
                <div class="form-group px-2 custom-scrollbar" id="messagesModal__chatContainer"></div>
                <div class="form-group py-3 d-flex">
                    <textarea class="form-control custom-scrollbar--small" id="messagesModal__messageText" style="resize: none;"></textarea>
                    <button type="button" class="btn custom-button w-25" id="sendMessageButton">Send</button>
                </div>
            </div>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const currentUserId = "<%= currentUser && currentUser._id %>";
    const currentUsername = "<%= currentUser && currentUser.username %>";
  </script>
  <script src="/javascripts/chat.js"></script>