<% layout('layouts/boilerplate') %>

<div class="row pt-2 pb-5 px-4">
    <div class="col-lg-8 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <% if (currentUser && String(user._id) === String(currentUser._id)) { %> 
                <a href="/profile/<%= user._id %>/edit" class="btn custom-button mt-3 d-block">Edit profile</a>
                <% } %> 
                <div class="media align-items-end profile-head d-flex justify-content-center">
                    <div class="profile">
                        <% if (user.profile.images.length) { %> 
                        <img src="<%= user.profile.images[0].url %> " alt="user selfie" width="130" class="rounded mb-2 img-thumbnail">
                        <% } else { %> 
                            <svg xmlns="http://www.w3.org/2000/svg" style="opacity: 0.75;" x="0px" y="0px" width="130" height="130" 
                                width="130" class="rounded mb-2 img-thumbnail"
                                viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M169.34609,86c0,-46.02344 -37.32266,-83.34609 -83.34609,-83.34609c-46.02344,0 -83.34609,37.32266 -83.34609,83.34609c0,46.02344 37.32266,83.34609 83.34609,83.34609c46.02344,0 83.34609,-37.32266 83.34609,-83.34609z" fill="#1a4aa0"></path><path d="M49.08047,60.97266c0,-4.66953 1.51172,-9.40625 4.50156,-14.21016c2.98984,-4.80391 7.39063,-8.76797 13.13516,-11.92578c5.74453,-3.15781 12.46328,-4.73672 20.15625,-4.73672c7.12187,0 13.4375,1.31016 18.87969,3.96406c5.47578,2.62031 9.675,6.21484 12.66484,10.75c2.98984,4.53516 4.46797,9.43984 4.46797,14.74766c0,4.19922 -0.83984,7.86094 -2.55312,10.98516c-1.71328,3.15781 -3.72891,5.87891 -6.04687,8.16328c-2.35156,2.28438 -6.51719,6.14766 -12.59766,11.55625c-1.67969,1.51172 -3.02344,2.85547 -4.03125,4.03125c-1.00781,1.14219 -1.74688,2.21719 -2.25078,3.15781c-0.50391,0.97422 -0.87344,1.91484 -1.14219,2.88906c-0.26875,0.97422 -0.67187,2.65391 -1.20938,5.07266c-0.94062,5.10625 -3.86328,7.69297 -8.76797,7.69297c-2.55313,0 -4.70312,-0.83984 -6.45,-2.51953c-1.74687,-1.67969 -2.62031,-4.16563 -2.62031,-7.45781c0,-4.13203 0.63828,-7.72656 1.91484,-10.75c1.27656,-3.02344 2.98984,-5.67734 5.10625,-7.96172c2.11641,-2.28437 4.97187,-5.00547 8.56641,-8.16328c3.15781,-2.75469 5.40859,-4.8375 6.81953,-6.24844c1.41094,-1.41094 2.58672,-2.95625 3.52734,-4.70312c0.97422,-1.71328 1.44453,-3.59453 1.44453,-5.61016c0,-3.93047 -1.47812,-7.25625 -4.40078,-9.97734c-2.92266,-2.72109 -6.71875,-4.06484 -11.32109,-4.06484c-5.40859,0 -9.40625,1.37734 -11.95938,4.09844c-2.55312,2.72109 -4.73672,6.75234 -6.48359,12.06016c-1.67969,5.57656 -4.8375,8.33125 -9.50703,8.33125c-2.75469,0 -5.07266,-0.97422 -6.9875,-2.92266c-1.88125,-1.88125 -2.85547,-3.96406 -2.85547,-6.24844zM85.12656,141.86641c-2.98984,0 -5.61016,-0.97422 -7.86094,-2.92266c-2.25078,-1.94844 -3.35937,-4.66953 -3.35937,-8.16328c0,-3.09063 1.075,-5.71094 3.25859,-7.82734c2.15,-2.11641 4.8375,-3.15781 7.96172,-3.15781c3.09063,0 5.71094,1.075 7.82734,3.15781c2.11641,2.11641 3.15781,4.73672 3.15781,7.82734c0,3.46016 -1.10859,6.14766 -3.32578,8.12969c-2.21719,1.98203 -4.77031,2.95625 -7.65937,2.95625z" fill="#ffffff"></path></g></g></svg>
                        <% } %> 
                    </div>
                    <div class="media-body mb-5 ms-2">
                        <h4 class="mt-0 mb-0 tertiary-heading"><%= user.profile.name ? user.profile.name : 'Name not set.' %></h4>
                        <p class="small mb-4 subheading"><%= user.profile.location ? user.profile.location : 'Location not set.' %></p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0 w-100 d-flex justify-content-between ps-5">
                    <span>
                        <br>
                        <li class="list-inline-item mt-1">
                            <h5 class="font-weight-bold mb-0 d-block" id="username">@<%= user.username ? user.username : '' %></h5>
                        </li>
                    </span>
                    <span class="mt-1">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%= booksOffered ? booksOffered : 0 %> </h5><small class="text-muted">Offered</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted">Borrowed</small>
                        </li>
                    </span>
                </ul>
            </div>
            <!-- send message modal button -->
            <% if (currentUser && String(user._id) !== String(currentUser._id)) { %>
                <div class="d-flex justify-content-end m-3"><button type="button" class="btn custom-button" data-toggle="modal" data-target="#sendMessageModal">Send message</button></div>
            <% } %> 
            <!-- inbox modal button -->
            <% if (currentUser && String(user._id) === String(currentUser._id)) { %>
                <div class="d-flex justify-content-end m-3"><button type="button" class="btn custom-button" data-toggle="modal" data-target="#inboxModal">Inbox</button></div>
            <% } %> 

            <div class="px-4 py-3">
                <h5 class="mb-0 tertiary-heading">About</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0"><%= user.profile.bio || "Write your bio here..."%></p>
                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0 tertiary-heading">Recent favorites</h5>
                </div>
                <div  class="d-flex mb-2 flex-wrap justify-content-center">
                    <% if (user.profile.favorites.length) { %> 
                        <% for (let favorite of user.profile.favorites) { %> 
                            <a href="/books/<%= favorite._id %>" class="mb-3 me-3"><img src="<%= favorite.coverImg %> " alt="" class="img-fluid rounded shadow-sm" style="height:200px; width: auto;"></a>
                        <% } %> 
                    <% } else { %> 
                        <div class="d-flex justify-content-between align-items-center my-3"><a class="quaternary-heading" href="/books">Browse books</a></div>
                    <% } %> 
                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0 tertiary-heading">Recently offered</h5>
                </div>
                <div  class="d-flex mb-2 flex-wrap justify-content-center">
                    <% if (books.length) { %> 
                        <% for (let book of books) { %> 
                            <a href="/books/<%= book._id %>" class="mb-3 me-3"><img src="<%= book.coverImg %> " alt="" class="img-fluid rounded shadow-sm" style="height:200px; width: auto;"></a>
                        <% } %> 
                    <% } else { %> 
                        <div class="d-flex justify-content-between align-items-center my-3"><a class="quaternary-heading" href="/books/new">Offer books</a></div>
                    <% } %> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sendMessageModalLabel">New message</h5>
          <button type="button" class="close custom-close-button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/message/<%= user._id %>" method="POST">
            <div class="modal-body">
                <div class="form-group">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name" name="message[username]" value="<%= user.username %>">
                </div>
                <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text" name="message[content]"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send message</button>
            </div>
        </form>
      </div>
    </div>
  </div>

<!-- Inbox -->
<div class="modal fade d-flex flex-column align-items-stretch flex-shrink-0 bg-white hide" style="width: 380px;" id="inboxModal" tabindex="-1" role="inbox" aria-labelledby="inboxModalLabel" aria-hidden="true">
    <button type="button" class="close custom-close-button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="d-flex justify-content-between align-items-center">
            <div class="secondary-heading">
                <h5 class="modal-title" id="sendMessageModalLabel">Inbox</h5>
            </div>
        </div>
    </div>
    <hr class="mb-0">
    <div class="list-group list-group-flush border-bottom scrollarea" id="inboxMessages">
    <% if (user.profile.inbox.length) { %>  
    <% for (let item of user.profile.inbox) { %>     
        <a class="btn list-group-item list-group-item-action py-3 lh-tight pointer" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1"><%= item.messages[0].username %> </strong>
                <small><%= `${item.messages[0].timestamp.getDay()}/${item.messages[0].timestamp.getMonth() + 1}/${item.messages[0].timestamp.getFullYear()}`%></small>
            </div>
            <div class="col-10 mb-1 small"><%= item.messages[0].message %></div>
            <input type="hidden" value="<%= item._id %>">
        </a>
    <% } %> 
    <% } else { %> 
    <p class="d-flex justify-content-between align-items-center">No messages - go to a user's profile and send them a message to start a conversation</p>
    <% } %> 
    </div>
</div>

<!-- Messages Modal -->
<button type="button" class="btn custom-button" data-toggle="modal" data-target="#messagesModal" style="display: none;" id="messageModalButton">messages</button>

<div class="modal fade" id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="messagesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title secondary-heading">Chat</h5>
          <button type="button" class="close custom-close-button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            <div class="modal-body">
                <div class="form-group" id="messagesModal__chatContainer"></div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="messagesModal__messageText"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="sendMessageButton">Send message</button>
            </div>
      </div>
    </div>
  </div>

  <script>
    // GET MESSAGES
      const username = document.getElementById('username').textContent.slice(1);
      const inbox = document.getElementById('inboxMessages');
      const inboxChildren = inbox.children;

      for (let message of inboxChildren) {
          message.addEventListener('click', openMessage);
      }

      async function openMessage(event) {
        let id = event.target.closest('a').lastElementChild.value;

        let htmlTemplate = '';

        let htmlObj = document.createElement('div');
        htmlObj.className = 'overflow-auto px-2';
        htmlObj.style = 'height: 200px;';
        htmlObj.id = 'messagesModal__chatContainer--body';

        const messageModalButton = document.getElementById('messageModalButton');

        try {
            const data = await fetch(`http://localhost:3000/message/${id}`, {
                method: 'GET'
            });

            const result = await data.json();

            result.messages.forEach(message => {
                htmlTemplate += getMessageTemplate(message);
            });

            htmlTemplate += `<input type="hidden" value="${id}" />`;
            htmlObj.innerHTML = htmlTemplate;

            const chatContainer = document.getElementById('messagesModal__chatContainer');
            if (chatContainer.children.length) chatContainer.removeChild(chatContainer.firstElementChild);
            chatContainer.appendChild(htmlObj);
            messageModalButton.click();

            setTimeout(() => {
                chatContainer.firstElementChild.scrollTop = chatContainer.firstElementChild.scrollHeight;
            }, 200);
        } catch (err) {
            console.log(err);
        }
      }

      function getMessageTemplate(message) {
            return `
                <span>
                    <div class="d-flex w-100 align-items-center justify-content-between mt-2">
                        <strong class="mb-1">${message.username}</strong>
                        <small>${message.timestamp.slice(0, 19).replace('T', ' ')}</small>
                    </div>
                    <div class="col-10 mb-2 small">${message.message}</div>
                </span>
            `;
        }

    //   SEND MESSAGES
      const sendMsgBtn = document.getElementById('sendMessageButton');
      sendMsgBtn.addEventListener('click', sendMessage);

      async function sendMessage(event) {
        const textarea = document.getElementById('messagesModal__messageText'); 
        const content = textarea.value;

        if (content === '') return;

        const lastChild = document.getElementById('messagesModal__chatContainer--body').lastElementChild;
        const id = lastChild.value;

        try {
            const data = await fetch(`http://localhost:3000/message/${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    message: {
                        content,
                        async: true,
                        username: username
                    }
                })
            });
    
            const result = await data.json();
            
            if (result.success) {
                const parent = document.getElementById('messagesModal__chatContainer--body');
                let htmlObj = document.createElement('div');
                htmlObj.innerHTML = getMessageTemplate(result.message);
                parent.insertBefore(htmlObj.children[0], lastChild);
                textarea.value = '';
                parent.scrollTop = parent.scrollHeight;
            }

        } catch (err) {
            console.log(err);
        }
      }
  </script>